@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 2px;
}

.highScoreButton {
    font-family: kanit, sans-serif;
    font-weight: 200;
    background-color: #8bff77;
    border: none;
    font-size: 3vh;
    border-radius: 25px;
    width: 15vw;
    height: 10vh;
    align-self: center;
}

.highScoreButton:hover {
    cursor: pointer;
}

.timer {
    font-family: kanit, sans-serif;
    font-size: 5vw;
    margin: 0;
}

.startScreen {
    max-width: 100%;
    height: 400px;
    margin: 20px;
    background-color: #374e37;
    border-radius: 30px;
    text-align: center;
}

.titleText {
    font-family: kanit, sans-serif;
    color: white;
    font-size: 10vh;
    margin-top: 0;
}

.startButton {
    font-family: kanit, sans-serif;
    font-weight: 200;
    background-color: #8bff77;
    border: none;
    margin: auto;
    width: 15vw;
    height: 7vh;
    font-size: 3vh;
    border-radius: 25px;
}

.startButton:hover {
    cursor: pointer;
}

/* quiz Styles */
.quiz {
    max-width: 100%;
    height: 380px;
    margin: 20px;
    background-color: #374e37;
    border-radius: 30px;
    text-align: center;
    display: none;
    padding: 10px;
}

.question {
    font-family: kanit, sans-serif;
    color: white;
}

.answersContainer {
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answerButton {
    font-family: kanit, sans-serif;
    font-weight: 200;
    background-color: #8bff77;
    border: none;
    width: 40vw;
    height: 7vh;
    font-size: 3vh;
    border-radius: 25px;
    align-self: center;
}

.answerButton:hover {
    cursor: pointer;
}

.rightOrWrong {
    font-family: kanit, sans-serif;
    margin-top: 50px;
    font-size: 5vh;
}